<!DOCTYPE html>
<html>
<head>
	<title>My Site</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
		function create_product_req(product)
		{
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open('POST', '/products/new/');
			
			// Gets the parsed data from the request body. Only for the POST/PUT/DELETE methods.
			xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
			xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');

			xmlhttp.onload = function () {
				console.log(xmlhttp.responseText);
			};
			var body = JSON.stringify(product);
			xmlhttp.send(body);
		}		
	</script>
</head>
<body>
	<div>@{body}</div>
</body>
</html>